<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>案例列表</title>
    <link rel="stylesheet" href="__STATIC__/css/bootstrap.min.css">
    <link rel="stylesheet" href="__STATIC__/css/admin.css?id=9">
    <script type="text/javascript" src="__STATIC__/js/jquery.min.js"></script>
    <script type="text/javascript" src="__STATIC__/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__STATIC__/js/admin.js"></script>
</head>
<body>
    <div class="row">
        <div class="col-md-12 margin-bottom-10 text-right">
            <span class="btn btn-success" onclick="reloadPage()">
                <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
            </span>
        </div>

        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">

                    <div class="margin-top-10">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center">ID</th>
                                    <th class="text-center">课程名称</th>
                                    <th class="text-center">封面图</th>
                                    <th class="text-center">视频</th>
                                    <th class="text-center">时间</th>
                                    <th class="text-center">操作</th>
                                </tr>
                            </thead>
                            <tbody>

                                {if ($list->count() === 0)}
                                    <tr>
                                        <td class="text-center" colspan="6">暂无数据</td>
                                    </tr>
                                {else/}
                                    {foreach $list as $item}
                                        <tr>
                                            <td class="text-center">{$item.id}</td>
                                            <td class="text-center">
                                                <span data-toggle="tooltip" data-placement="top" title="{$item.title}" class="label label-default">{$item.title_tip}</span>
                                            </td>
                                            <td class="text-center">
                                                <img src="{$item.cover}" alt="图片" style="width: 200px;height: 150px;" class="img-rounded">
                                            </td>
                                            <td class="text-center">
                                                <video style="width: 360px;height: 203px;" src="{$item.video}" controls="controls">
                                                    您的浏览器不支持 video 标签。
                                                </video>
                                            </td>
                                            <td class="text-center">{$item.create_at_str}</td>
                                            <td class="text-center">
                                                {if ($item.is_show === 0)}
                                                <a href="{:url('show',['id'=>$item.id,'is_show'=>1])}" type="button" class="btn btn-success">首页展示</a>
                                                {else/}
                                                <a href="{:url('show',['id'=>$item.id,'is_show'=>0])}" type="button" class="btn btn-default">取消展示</a>
                                                {/if}
                                                <a href="{:url('edit',['id'=>$item.id])}" type="button" class="btn btn-primary">编辑</a>
                                                <a href="{:url('del',['id'=>$item.id])}" type="button" class="btn btn-danger">删除</a>
                                            </td>
                                        </tr>
                                    {/foreach}
                                {/if}
                            </tbody>
                        </table>
                    </div>

                    <div class="text-center">
                        {$list->render()|raw}
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
</body>
</html>