<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加轮播</title>
    <link rel="stylesheet" href="__STATIC__/css/bootstrap.min.css">
    <link rel="stylesheet" href="__STATIC__/css/admin.css">
    <link rel="stylesheet" href="__STATIC__/lib/layui/css/layui.css">
    <script type="text/javascript" src="__STATIC__/js/jquery.min.js"></script>
    <script type="text/javascript" src="__STATIC__/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__STATIC__/js/admin.js"></script>
    <style>
        .preview-box {
            width: 390px;
            height: 220px;
            position: relative;
            background: #888888;
            display: inline-block;
        }
        .preview-box img {
            max-width: 390px;
            max-height: 220px;
            position: absolute;
            transform: translate(-50%,-50%);
            top: 50%;
            left: 50%;
        }
        .close {
            position: absolute;
            right: -10px;
            top: -10px;
        }
        .close:hover{
            color: #ff253e;
            opacity: 1;
        }
    </style>
</head>
<body>
    <div class="row">
        <div class="col-md-12 margin-bottom-10 text-right">
            <span class="btn btn-success" onclick="reloadPage()">
                <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
            </span>
        </div>

        <div class="col-md-12">

            <div class="panel panel-default">

                <div class="panel-body">
                    <form class="form-horizontal" method="post" id="app" v-cloak>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">排序</label>
                            <div class="col-sm-10">
                                <input v-model="sort" placeholder="0-100，越大越靠前" type="text" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">图片</label>
                            <div class="col-sm-10">
                                <button v-show="url===null" id="up-button" type="button" class="btn btn-info">
                                    <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>&nbsp;上传图片
                                </button>
                                <span class="preview-box" v-show="url!==null">
                                    <img :src="url">
                                    <span @click="clear" class="glyphicon glyphicon-remove close" aria-hidden="true"></span>
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary" @click.prevent="submit">提交</button>
                                <button type="reset" class="btn btn-default">重置</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="__STATIC__/lib/layui/layui.js"></script>
    <script type="text/javascript" src="__STATIC__/js/vue.js"></script>
    <script>
        let uploader,layer;
        layui.use('layer', function(){
            layer = layui.layer;
        });
        
        const app = new Vue({
            el:'#app',
            data:{
                url:null,
                sort:''
            },
            methods:{
                bindUploader:function () {
                    uploader.render({
                        elem: '#up-button', //绑定元素
                        url: '{:url("Index/uploadImage")}', //上传接口
                        field: 'image',
                        accept: 'images',
                        before:function() {
                            layer.load(2, {
                                shade: [0.6,'#000']
                            });
                        },
                        done: function(ret){
                            layer.closeAll('loading');
                            //上传完毕回调
                            if (ret.code === 0) {
                                app.url = ret.data;
                            } else {
                                layer.msg(ret.msg);
                            }
                        }
                        ,error: function(){
                            //请求异常回调
                            layer.closeAll('loading');
                            layer.msg('上传错误');
                        }
                    });
                },
                clear:function () {
                    this.url = null;
                },
                submit:function () {
                    $.post('{:url("add")}', {sort: this.sort, url: this.url}, function (ret) {
                        layer.msg(ret.msg);
                        if (ret.code === 0) {
                            setTimeout(function () {
                                app.url = null;
                                app.sort = '';
                            }, 800);
                        }
                    }, 'json');
                }
            },
            mounted:function () {
                layui.use('upload', function() {
                    uploader = layui.upload;
                    app.bindUploader();
                });
            }
        });
    </script>
</body>
</html>