<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>批发商列表</title>
    <link rel="stylesheet" href="__STATIC__/css/bootstrap.min.css">
    <link rel="stylesheet" href="__STATIC__/css/admin.css?id=8">
    <script type="text/javascript" src="__STATIC__/js/jquery.min.js"></script>
    <script type="text/javascript" src="__STATIC__/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__STATIC__/js/admin.js"></script>
</head>
<body>
    <div class="row">
        <div class="col-md-12 margin-bottom-10 text-right">
            <span class="btn btn-success" onclick="reloadPage()">
                <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
            </span>
        </div>

        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">

                    <form class="form-inline" method="post">
                        <a onclick="add()" class="btn btn-primary">添加批发商</a>
                    </form>

                    <div class="margin-top-10">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center">ID</th>
                                    <th class="text-center">编号</th>
                                    <th class="text-center">昵称</th>
                                    <th class="text-center">头像</th>
                                    <th class="text-center">等级</th>
                                    <th class="text-center">余额</th>
                                    <th class="text-center">手机</th>
                                    <th class="text-center">注册时间</th>
                                    <th class="text-center">操作</th>
                                </tr>
                            </thead>
                            <tbody>

                                {if ($list->count() === 0)}
                                    <tr>
                                        <td class="text-center" colspan="9">暂无数据</td>
                                    </tr>
                                {else/}
                                    {foreach $list as $item}
                                        <tr>
                                            <td class="text-center">{$item.id}</td>
                                            <td class="text-center">{$item.ivt_code}</td>
                                            <td class="text-center">{$item.nick}</td>
                                            <td class="text-center">
                                                <img src="{$item.head_url}" alt="头像" style="width: 100px;height: 100px;" class="img-rounded">
                                            </td>
                                            <td class="text-center">{$item.level_str}</td>
                                            <td class="text-center">{$item.balance}</td>
                                            <td class="text-center">{$item.tel_tip}</td>
                                            <td class="text-center">{$item.reg_at_str}</td>
                                            <td class="text-center">
                                                <a href="{:url('delBatcher',['id'=>$item.id])}" type="button" class="btn btn-danger">移除</a>
                                            </td>
                                        </tr>
                                    {/foreach}
                                {/if}
                            </tbody>
                        </table>
                    </div>

                    <div class="text-center">
                        {$list->render()|raw}
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="__STATIC__/lib/layui/layui.js"></script>
    <script>
        let layer;
        layui.use('layer', function(){
            layer = layui.layer;
        });
        function add() {
            layer.prompt({title: '输入用户编号', formType: 0}, function(code, index){
                layer.close(index);
                $.post('{:url("batcher")}',{code:code},function (ret) {
                    layer.msg(ret.msg);
                    if (ret.code === 0) {
                        setTimeout(function () {
                            location.reload();
                        },800);
                    }
                },'json');
            });
        }
    </script>
</body>
</html>