<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>收益记录</title>
    <link rel="stylesheet" href="__STATIC__/css/bootstrap.min.css">
    <link rel="stylesheet" href="__STATIC__/css/admin.css?id=8">
    <script type="text/javascript" src="__STATIC__/js/jquery.min.js"></script>
    <script type="text/javascript" src="__STATIC__/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__STATIC__/js/admin.js"></script>
</head>
<body>
    <div class="row">
        <div class="col-md-12 margin-bottom-10 text-right">
            <span class="btn btn-success" onclick="reloadPage()">
                <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
            </span>
        </div>

        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">

                    <form class="form-inline" method="post">
                        <div class="form-group">
                            <label class="sr-only">用户编号</label>
                            <input name="code" value="{$params.code}" type="text" class="form-control" placeholder="用户编号">
                        </div>
                        <button type="submit" class="btn btn-primary">搜索</button>
                    </form>

                    <div class="margin-top-10">
                        <table class="table table-bordered table-hover">
                            <caption class="tip-box">
                                <span class="label label-info">共计 {$list->total()} 条记录</span>
                                <span class="label label-warning">总金额 {$total}</span>
                            </caption>
                            <thead>
                                <tr>
                                    <th class="text-center">ID</th>
                                    <th class="text-center">用户编号</th>
                                    <th class="text-center">用户昵称</th>
                                    <th class="text-center">用户头像</th>
                                    <th class="text-center">金额</th>
                                    <th class="text-center">类型</th>
                                    <th class="text-center">说明</th>
                                    <th class="text-center">时间</th>
                                </tr>
                            </thead>
                            <tbody>

                                {if ($list->count() === 0)}
                                    <tr>
                                        <td class="text-center" colspan="8">暂无数据</td>
                                    </tr>
                                {else/}
                                    {foreach $list as $item}
                                        <tr>
                                            <td class="text-center">{$item.id}</td>
                                            <td class="text-center">{$item.user.ivt_code}</td>
                                            <td class="text-center">{$item.user.nick}</td>
                                            <td class="text-center">
                                                <img src="{$item.user.head_url}" alt="头像" style="width: 100px;height: 100px;" class="img-rounded">
                                            </td>
                                            <td class="text-center">{$item.num}</td>
                                            <td class="text-center">{$item.type_str}</td>
                                            <td class="text-center">{$item.intro}</td>
                                            <td class="text-center">{$item.create_at_str}</td>
                                        </tr>
                                    {/foreach}
                                {/if}
                            </tbody>
                        </table>
                    </div>

                    <div class="text-center">
                        {$list->render()|raw}
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
</html>