<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>订单列表</title>
    <link rel="stylesheet" href="__STATIC__/css/bootstrap.min.css">
    <link rel="stylesheet" href="__STATIC__/css/admin.css?id=7">
    <script type="text/javascript" src="__STATIC__/js/jquery.min.js"></script>
    <script type="text/javascript" src="__STATIC__/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__STATIC__/js/admin.js"></script>
</head>
<body>
    <div class="row">
        <div class="col-md-12 margin-bottom-10 text-right">
            <span class="btn btn-success" onclick="reloadPage()">
                <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
            </span>
        </div>

        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body" id="app">

                    <form class="form-inline" method="post">
                        <div class="form-group">
                            <label class="sr-only">状态</label>
                            <select name="status" class="form-control">
                                <option value="-1" {if($params.status==-1)}selected{/if}>所有订单</option>
                                <option value="1" {if($params.status==1)}selected{/if}>待交付</option>
                                <option value="2" {if($params.status==2)}selected{/if}>已交付</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="sr-only">订单号</label>
                            <input name="code" value="{$params.code}" type="text" class="form-control" placeholder="订单号">
                        </div>
                        <div class="form-group">
                            <label class="sr-only">用户编号</label>
                            <input name="user" value="{$params.user}" type="text" class="form-control" placeholder="用户编号">
                        </div>
                        <button type="submit" class="btn btn-primary">搜索</button>
                    </form>

                    <div class="margin-top-10">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center">ID</th>
                                    <th class="text-center">用户编号</th>
                                    <th class="text-center">订单号</th>
                                    <th class="text-center">商品名称</th>
                                    <th class="text-center">商品图片</th>
                                    <th class="text-center">购买数量</th>
                                    <th class="text-center">订单总价</th>
                                    <th class="text-center">订单状态</th>
                                    <th class="text-center">交付时限</th>
                                    <th class="text-center">交付方式</th>
                                    <th class="text-center">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                            {if ($list->count() === 0)}
                            <tr>
                                <td class="text-center" colspan="11">暂无数据</td>
                            </tr>
                            {else/}
                            {foreach $list as $item}
                            <tr>
                                <td class="text-center">{$item.id}</td>
                                <td class="text-center">{$item.user.ivt_code}</td>
                                <td class="text-center">{$item.otn}</td>
                                <td class="text-center">{$item.goods_name}</td>
                                <td class="text-center">
                                    <img src="{$item.image}" alt="商品" style="width: 100px;height: 100px;" class="img-rounded">
                                </td>
                                <td class="text-center">{$item.num} x {$item.spec}</td>
                                <td class="text-center">{$item.total}</td>
                                <td class="text-center">{$item.status_str}</td>
                                <td class="text-center">{$item.release_at_str}</td>
                                <td class="text-center">{$item.type_str}</td>
                                <td class="text-center">
                                    {if($item.status===1)}
                                    <a href="{:url('doFuture',['id'=>$item.id])}" type="button" class="btn btn-primary">自提确认</a>
                                    {else/}
                                    <a type="button" class="btn btn-default">已交付</a>
                                    {/if}
                                </td>
                            </tr>
                            {/foreach}
                            {/if}
                            </tbody>
                        </table>
                    </div>

                    <div class="text-center">
                        {$list->render()|raw}
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
</html>