<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>订单列表</title>
    <link rel="stylesheet" href="__STATIC__/css/bootstrap.min.css">
    <link rel="stylesheet" href="__STATIC__/css/admin.css?id=7">
    <script type="text/javascript" src="__STATIC__/js/jquery.min.js"></script>
    <script type="text/javascript" src="__STATIC__/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__STATIC__/js/admin.js"></script>
    <style>
        .width-20 {
            width: 20%;
        }
    </style>
</head>
<body>
    <div class="row">

        <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">订单详情</h4>
                    </div>
                    <div class="modal-body" v-if="order">
                        <table class="table table-bordered table-hover">
                            <tbody>
                            <tr>
                                <th class="text-center" colspan="2">用户信息</th>
                            </tr>
                            <tr>
                                <th class="text-center width-20">昵称</th>
                                <td>{{order.user.nick}}</td>
                            </tr>
                            <tr>
                                <th class="text-center width-20">头像</th>
                                <td>
                                    <img :src="order.user.head_url" class="img-rounded" alt="头像" style="width: 100px; height: 100px;" data-holder-rendered="true">
                                </td>
                            </tr>
                            <tr>
                                <th class="text-center width-20">等级</th>
                                <td>{{order.user.level}}</td>
                            </tr>
                            </tbody>
                        </table>

                        <table class="table table-bordered table-hover">
                            <tbody>
                            <tr>
                                <th class="text-center" colspan="2">订单信息</th>
                            </tr>
                            <tr>
                                <th class="text-center width-20">商品价值</th>
                                <td>￥{{order.goods_cost}}</td>
                            </tr>
                            <tr>
                                <th class="text-center width-20">商品运费</th>
                                <td>￥{{order.freight}}</td>
                            </tr>
                            <tr>
                                <th class="text-center width-20">订单总额</th>
                                <td>￥{{order.total}}</td>
                            </tr>
                            <tr>
                                <th class="text-center width-20">订单备注</th>
                                <td>{{order.mark}}</td>
                            </tr>
                            <tr>
                                <th class="text-center width-20">收货人姓名</th>
                                <td>{{order.name}}</td>
                            </tr>
                            <tr>
                                <th class="text-center width-20">收货人电话</th>
                                <td>{{order.tel}}</td>
                            </tr>
                            <tr>
                                <th class="text-center width-20">收货人地址</th>
                                <td>{{order.address}}</td>
                            </tr>
                            <tr>
                                <th class="text-center width-20">订单状态</th>
                                <td>{{order.status_str}}</td>
                            </tr>
                            <tr>
                                <th class="text-center width-20">创建时间</th>
                                <td>{{order.create_at}}</td>
                            </tr>
                            <tr>
                                <th class="text-center width-20">付款时间</th>
                                <td>{{order.pay_at}}</td>
                            </tr>
                            <tr>
                                <th class="text-center width-20">发货时间</th>
                                <td>{{order.send_at}}</td>
                            </tr>
                            <tr>
                                <th class="text-center width-20">快递公司</th>
                                <td>{{order.express_name}}</td>
                            </tr>
                            <tr>
                                <th class="text-center width-20">快递单号</th>
                                <td>{{order.express_code}}</td>
                            </tr>
                            </tbody>
                        </table>

                        <table class="table table-bordered table-hover">
                            <h4 class="text-center">订单明细</h4>
                            <thead>
                            <tr>
                                <th class="text-center">商品名</th>
                                <th class="text-center">商品图片</th>
                                <th class="text-center">规格</th>
                                <th class="text-center">数量</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="item in order.items">
                                <td class="text-center">{{item.name}}</td>
                                <td class="text-center">
                                    <img :src="item.image" class="img-rounded" alt="商品图" style="width: 100px; height: 100px;" data-holder-rendered="true">
                                </td>
                                <td class="text-center">{{item.spec}}</td>
                                <td class="text-center">{{item.num}}</td>
                            </tr>
                            </tbody>
                        </table>
                        <form class="form-inline" v-if="order.status === 1">
                            <div class="form-group">
                                <label class="sr-only" for="expName">Email address</label>
                                <input v-model="expName" type="text" class="form-control" id="expName" placeholder="输入快递公司">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="expCode">Password</label>
                                <input v-model="expCode" type="text" class="form-control" id="expCode" placeholder="输入快递单号">
                            </div>
                            <button @click="send" type="button" class="btn btn-primary">确认发货</button>
                        </form>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <div class="col-md-12 margin-bottom-10 text-right">
            <span class="btn btn-success" onclick="reloadPage()">
                <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
            </span>
        </div>

        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body" id="app">

                    <form class="form-inline" method="post">
                        <div class="form-group">
                            <label class="sr-only">状态</label>
                            <select name="status" class="form-control">
                                <option value="-1" {if ($params.status==-1)}selected{/if}>所有订单</option>
                                <option value="0" {if ($params.status==0)}selected{/if}>待付款</option>
                                <option value="1" {if ($params.status==1)}selected{/if}>待发货</option>
                                <option value="2" {if ($params.status==2)}selected{/if}>待收货</option>
                                <option value="3" {if ($params.status==3)}selected{/if}>已收货</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="sr-only">订单号</label>
                            <input name="code" value="{$params.code}" type="text" class="form-control" placeholder="订单号">
                        </div>
                        <div class="form-group">
                            <label class="sr-only">用户编号</label>
                            <input name="user" value="{$params.user}" type="text" class="form-control" placeholder="用户编号">
                        </div>
                        <button type="submit" class="btn btn-primary">搜索</button>
                    </form>

                    <div class="margin-top-10">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center">ID</th>
                                    <th class="text-center">用户编号</th>
                                    <th class="text-center">订单号</th>
                                    <th class="text-center">商品价值</th>
                                    <th class="text-center">运费</th>
                                    <th class="text-center">总价</th>
                                    <th class="text-center">备注</th>
                                    <th class="text-center">状态</th>
                                    <th class="text-center">创建时间</th>
                                    <th class="text-center">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                            {if ($list->count() === 0)}
                            <tr>
                                <td class="text-center" colspan="10">暂无数据</td>
                            </tr>
                            {else/}
                            {foreach $list as $item}
                            <tr>
                                <td class="text-center">{$item.id}</td>
                                <td class="text-center">{$item.user.ivt_code}</td>
                                <td class="text-center">{$item.otn}</td>
                                <td class="text-center">￥{$item.goods_cost}</td>
                                <td class="text-center">￥{$item.freight}</td>
                                <td class="text-center">￥{$item.total}</td>
                                <td class="text-center">{$item.mark_tip}</td>
                                <td class="text-center">{$item.status_str}</td>
                                <td class="text-center">{$item.create_at_str}</td>
                                <td class="text-center">
                                    <a onclick="detail('{$item.id}')" href="#" type="button" class="btn btn-primary">详情</a>
                                </td>
                            </tr>
                            {/foreach}
                            {/if}
                            </tbody>
                        </table>
                    </div>

                    <div class="text-center">
                        {$list->render()|raw}
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="__STATIC__/lib/layer/layer.js"></script>
    <script type="text/javascript" src="__STATIC__/js/vue.js"></script>
    <script>
        let app = new Vue({
            el:'#myModal',
            data:{
                order:null,
                id:'',
                expName:'',
                expCode:''
            },
            methods:{
                getInfo:function (id) {
                    this.info = null;
                    this.id = id;
                    $.post('{:url("detail")}',{id:id},function (ret) {
                        if (ret.code === 0) {
                            app.order = ret.data;
                            $('#myModal').modal();
                        } else {
                            layer.msg(ret.msg);
                        }
                    },'json');
                },
                send:function () {
                    let postData = {
                        id:this.id,
                        express_name:this.expName,
                        express_code:this.expCode
                    };

                    $.post('{:url("send")}',postData,function (ret) {
                        layer.msg(ret.msg);
                        if (ret.code === 0) {
                            setTimeout(function () {
                                app.getInfo(app.id);
                            },800);
                        }
                    },'json');
                }
            }
        });
        function detail(id) {
            app.getInfo(id);
        }
    </script>
</body>
</html>